################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PhoneBook/.vs
bin/
obj/
TestResults/
*.user
*.suo